header, section, footer, aside, nav, article, figure
{
    display: block;
}

html, body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

body
{
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

footer
{
    border-top: #0b254f 5px solid;
    text-align: center;
}

#timeLeft
{
    font-size: 26px;
    background-color: #0b254f;
    text-align: center;
}

#y2038Time
{
    font-size: 16px;
}

#counter
{
    font-size: 42px;
}

#counter span
{
    font-weight: bold;
}

#info p
{
    padding-left: 25%;
    max-width: 50%;
    word-wrap: break-word;
}

@media screen and (orientation: portrait)
{
    #info p
    {
        padding-left: 10%;
        max-width: 80%;
    }
    
    #counter span:not(:first-child)::before
    {
        content: "\A";
        white-space: pre;
    }

}

h1
{
    text-align: center;
}

a, a:visited
{
    text-decoration: none;
    color: #339ffd;
}

a:hover
{
    text-decoration: none;
    color: #33cffd;
}

